{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "consistent-return": ["off"],
    "no-unused-vars": ["warn"],
    "no-new": ["warn"]
  }
}