{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "node": true,
    "es6":true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "consistent-return": ["error", { "treatUndefinedAsUnspecified": true }]
  }
}